.numbers .row{
    margin: 0;
}
.numbers{
    background-color: #063970;
    color: white;
    height:40vh;
    display: flex;
    align-items: center;
}
.number span{
    font-size:3rem;
    margin-bottom: 0.8rem;
}
.number{
    text-align: center;
}
.text h1 {
    color: white;

}
@media (max-width: 768px){
    .numbers{
        height:auto;    
        padding:1.5rem 0 ;
        margin-bottom: 0.5rem;
    }
    .text{
        text-align: center;
    }
    .custom-mb{
        margin:1rem 0;
    }
}