
.background{
    background-image: url("../../assets/home3.jpg");
    height:75vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin:0 auto;
}
@media (max-width: 768px){
    .background{
        display: none;
    }
}